<strong>Olá, {{ user }}</strong>
<p>Houve uma Tentativa de Mudança de Senha, o código de validação está abaixo:</p>
<p>
  <strong>Codigo: </strong> {{ code }} <br />
  <small>
    Caso não tenha sido você que tenha solicitado a troca de senha, entrar em contato com o administrador do site.
  </small>
</p>
